.account-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

}

.profile-card{

width:320px;

padding:30px;

align-items: center;

background:#2b54ac;

border-radius:10px;

line-height:35px;

}